# Filesystem and tool specific.
.DS_Store
.idea
*.sublime*

wordpress
wp-content/uploads
wp-config.php
wp-content/plugins/wsuwp-sso-authentication
wp-content/plugins/wsuwp-plugin-custom-css
wp-content/themes/spine